@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.random-word{
    color: #ffa500;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

body{
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    color: #ffffff;
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
}

/*==================SITE-NAVIGATION=====================*/

.site-nav{
    position: fixed;
    background-color: #3d82da;
    width: 100%;
    max-height:120px;
    top: 0;
    z-index: 100;
    max-width: 1600px;
}
.site-nav::after{
    display: block;
    content: '';
    clear: both;
}
.drop-down{
    display: none;
    margin: 20px 20px 20px 0;
    font-size: 2em;
    padding-left: 50px;
}
.header-navigation{
    float: right;
    margin-right: 20px;
}
.header-navigation ul{
    list-style-type: none;
    font-size: 1.2em;
    padding: 10px;
    font-weight: 500;
}
.header-navigation li{
    display: inline-block;
    margin: 5px 15px;
}
.header-navigation a:hover{
    color:  #ffb518;
}
.header-navigation a{
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: block;
    transition: all 0.2s;
}
.randomize-btn{
    border: none;
    background-color: #ffb518;
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}
.randomize-btn:hover{
    box-shadow: 2px 1px 75px -9px rgba(255,255,255,1);
    background-color: yellow;
    color:#275895;

}
@media screen and (max-width: 900px){
    .header-navigation ul{
        display: none;
        position: absolute;
        width: 100%;
        background-color: #275895;
        top:70px;
        right: 0;
        text-align: center;
    }
    .header-navigation:hover ul{
        display: block;
    }
    .header-navigation li{
        display: block;
        width: 100%;
        padding: 5px;
    }
    .header-navigation li:hover{
        background-color: #3d82da;
    }
    .drop-down{
        display: block;
    }

}
@media screen and (max-width: 400px){
    .randomize-btn{
        width: 100%;
    }
    .header-navigation{
        float: none;
        display: block;
        text-align: center;

    }
    .header-navigation ul{
        top:115px;
    }
}


/*==================SITE-HEADER=====================*/

.site-header{
    background: linear-gradient(rgba(60, 63, 73, 0.6), rgba(60, 63, 73, 0.65)),url("../img/programming.jpg") center center no-repeat;
    background-size: cover;
    min-height: 550px;
    padding-top: 300px;
    border: 1px solid transparent;
}
.header-enlist-btn a{
    text-decoration: none;
    color: #ffffff;
}
.header-introduction{
    text-align: center;
}
.header-introduction h1{
    font-size: 4em;
}
.header-enlist-btn {
    margin: 100px auto;
    width: 300px;
}
.header-enlist-btn a{
    display: block;
    background-color: orange;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid transparent;
    transition: all 0.2s;
}
.header-enlist-btn a:hover{
    background: transparent;
    border: 5px solid orange;
}
@media screen and (max-width: 500px){
    .header-enlist-btn{
        width: 100%;
    }
}


/*==================MAIN=====================*/


/*QUOTE-SECTION*/

#quote-section{
    text-align: center;
    padding:100px ;

}

#quote-section .random-word{
    text-shadow: 0 0 1px black;
}

.quote-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    color: #000000;
    background-color: rgba(10, 126, 185, 0.19);
    border-radius: 20px;
    position: relative;
    background-image: url("../img/sky.jpg");
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size:cover;
}
.quote-content{
    flex:3;
    background-color: rgba(238, 238, 238, 0.76);
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.25);
    border-radius: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px;

}
.quote-content .quote-text{
    font-size: 2em;
    font-style: italic;
}
.quote-content .quote-text::before{
    font-family: "FontAwesome",sans-serif;
    content: '\f10d';
    font-weight: 100;
}
.quote-content .quote-text::after{
    font-family: "FontAwesome",sans-serif;
    content: '\f10e';
}
.quote-img{
    flex: 1;
}
.quote-article img{
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: -1px 1px 42px 4px rgb(249, 253, 255);
    transition: all 0.5s;

}
.quote-img img:hover{
    box-shadow: -1px 1px 147px 50px rgb(249, 253, 255);
    transform: scale(1.1);
    opacity: 0.9;
}

@media screen and (max-width: 920px) {
    .quote-article{
        border-radius: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .quote-content{
        margin: 10px 0;
    }
    #quote-section{
        padding: 0;
    }
}

@media screen and (max-width: 600px) {

    .quote-content{
       flex-basis: 100%;
    }

}

/*PROGRAMMING-SECTION*/
#programming-section{
    background: #2e2e2e;
    margin-bottom: 80px;
    padding-top: 55px;
}
@media screen and (min-width: 920px) {
    #programming-section{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    #programming-section .color-heading{
        top: 8%;
        left: 86%;
        width: 70%;
    }
    #programming-section .programming-info{
        padding: 50px;
        text-align: left;
    }
}
.programming-header{
    position: relative;
    background: url("../img/programmer.jpeg") center;
    background-size: cover;
    height: 600px;
    flex:1;
}
.color-heading{
    position: absolute;
    top: 93%;
    left: 6%;
    background-color: rgba(255, 165, 0, 0.84);
    font-size: 2em;
    padding: 10px;
}

.programming-info{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 50px 10px;
    flex:1;
    line-height: 30px;
    font-size: 1.4em;
    text-indent: 30px;
    text-align: center;
}


/*MODULES-SECTION*/
#modules-section{
    margin: 0 auto;
    text-align: center;
}
#modules-section .random-word{
    font-weight: bold;
    color: rgb(255, 239, 126);
    text-shadow: 0 0 1px #ffea0c;
}
#modules-section a{
    text-decoration: none;
    color: #ffffff;
}
.modules-header{
    flex-basis: 100%;
    color: black;
    font-size: 2.3em;
    margin-bottom: 40px;
}
.programming-module{
    margin: 25px;
    background-color: rgb(243,105,30);
    border-radius:0 50px 0 50px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.programming-module:hover{
    transform: scale(1.1);
    background-color:rgb(252,136,72);
    box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.75);
}
.programming-module:hover .module-img{
    background-color: rgb(243,105,30);
}
.module-img{
    width: 30%;
    height: 90px;
    background-color:rgb(252,136,72);
    border-radius: 30px;
    box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.75);

}
.module-img img{
    width: 60%;
}
.module-content h2{
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Fredoka One",sans-serif;
}
.module-content p{
    font-size: 1.5em;
}
@media screen and (min-width: 620px){
     #modules-section{
         display: flex;
         flex-wrap: wrap;
     }
    .programming-module{
        flex: 1;
        flex-basis: 40%;
    }
}
@media screen and (min-width: 1200px){
    .programming-module{
        flex: 1;
    }

}

/*ENLIST-SECTION*/
#enlist-section{
    margin-top: 55px;
    text-align: center;
    background-color: #6973af;
    padding: 50px;

}
.enlist-form{
    border:10px solid white;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.enlist-form h1{
    font-size: 3em;
}
.enlist-row{
    margin-bottom: 20px;
}
.enlist-row span{
    display: block;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}
.enlist-row input{
    width: 70%;
    text-align: center;
    height: 30px;
    outline: none;
    transition: all 0.3s;
}
.enlist-row input:focus{
    transform: scale(1.2);
}
.enlist-button-div{
    margin-top: 70px;
    margin-bottom: 30px;
}
.enlist-btn{
    color: white;
    border:5px solid white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    transition: all 0.3s;
}
.enlist-btn:hover{
    background-color: white;
    color:#6973af;
}
@media screen and (max-width: 600px){
    .enlist-form{
        width: 100%;
        padding: 0;
        border: none;
    }
    #enlist-section{
        padding-left: 0;
        padding-right: 0;
        padding-top: 75px;
    }
    .enlist-button-div .enlist-btn{
        width: 60%;
        display: block;
        margin: 0 auto;
    }
}

/*FALLBACK-SECTION*/
.fallback-section {
    min-height: 70vh;
}
.fallback-section .enlist-form {
    margin-top: 50px;
}

/*==================FOOTER=====================*/

.site-footer{
    background-color: #2e2e2e;
}
.social-links{
    height: 120px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.social-links li{
    text-align: center;
    width: 50px;
    height: 50px;
}
.social-links li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    color: #2e2e2e;
    border-radius: 50%;
    font-size: 2.5em;
    line-height: 50px;
    transition: all 0.3s;
}
.social-links li a:hover{
    background-color: #6973af;
    color: #ffffff;
}